*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  gap: 6rem;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #1b191b;
  color: #cac5bb;
  padding: 3.4rem 3.2rem;
}