*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #1b191b;
  color: #cac5bb;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  height: 95vh;
  padding: 3.4rem 3.2rem 0;
}