.header {
  max-width: 32.5rem;
  min-width: 23.1rem;
  align-self: start;
  position: sticky;
  top: 3.4rem;
}
.header__logo-box {
  margin-bottom: 2rem;
}
.header__logo {
  height: 3rem;
}

.heading-paragraph {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.heading-paragraph--main {
  display: block;
}
.heading-paragraph--sub {
  display: block;
}

.navigation__list {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.navigation__item:not(:last-child) {
  margin-bottom: 0.3rem;
}
.navigation__link:link, .navigation__link:visited {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.navigation__link:hover, .navigation__link:active {
  color: crimson;
}
.navigation__link:hover::before, .navigation__link:active::before {
  content: "";
  position: absolute;
  height: 19px;
  width: calc(100% + 0.8rem);
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid black;
}
.navigation__link--num {
  padding-left: 0.8rem;
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.navigation__link--title {
  display: inline-block;
}

.active {
  color: crimson;
}
.active::before {
  content: "";
  position: absolute;
  height: 19px;
  width: calc(100% + 0.8rem);
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid black;
}