*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;

  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @media only screen and (max-width: 91.31em) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 82.18em) {
    font-size: 50%;
  }

  @media only screen and (max-width: 73.12em) {
    font-size: 56.25%;
  }
  // @media only screen and (max-width: 26.8em) {
  //   font-size: 50%;
  // }
  @media only screen and (max-width: 23.75em) {
    font-size: 50%;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #1b191b;
  color: #cac5bb;

  @media only screen and (max-width: 44.3em) {
    font-size: 1.8rem;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr min-content;
  column-gap: 4rem;
  height: 100%;

  padding: 3.4rem 3.2rem 0;

  @media only screen and (max-width: 62.5em) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 0;
  }

  @media only screen and (max-width: 73.12em) {
    padding: 1.7rem 1.6rem 0;
  }

  @media only screen and (max-width: 26.8em) {
    padding: 1rem 0.9rem 0;
  }
}
