/**************************/
/* HEADER */
/**************************/

.header {
  // display: inline-block;
  // max-width: 32.5rem;
  min-width: 23.1rem;
  align-self: start;
  position: sticky;
  top: 3.4rem;

  @media only screen and (max-width: 62.5em) {
    align-self: normal;
    position: static;
  }

  &__logo-box {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // text-align: center;
  }

  &__logo {
    height: 3rem;

    &--mobile {
      height: 3rem;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
    }

    @media only screen and (max-width: 62.5em) {
      &__logo {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;

        &--mobile {
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
        }
      }
    }
    @media only screen and (max-width: 62.5em) {
      height: 3.5rem;
    }
  }

  &__btn-mobile {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    @media only screen and (max-width: 62.5em) {
      position: relative;
      width: 3rem;
      height: 3.55rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: transparent;
      border: none;

      opacity: 1;
      pointer-events: inherit;
      visibility: visible;

      &__icon {
        position: absolute;

        &,
        &::before,
        &::after {
          width: 3rem;
          height: 2px;
          background-color: gray;
          display: inline-block;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all 0.3s;
        }

        &::before {
          top: -0.8rem;
        }
        &::after {
          top: 0.8rem;
        }
      }
    }

    &--active {
      .header__btn-mobile__icon::before {
        top: 0;
        transform: rotate(-45deg);
      }
      .header__btn-mobile__icon::after {
        top: 0;
        transform: rotate(45deg);
      }
      .header__btn-mobile__icon {
        background-color: transparent;
      }
    }
  }
}

.navigation {
  // transition: all 1s ease-out;

  &__text-box {
    margin-bottom: 2rem;

    &__paragraph {
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 0.8px;

      &--main {
        display: block;
      }

      &--sub {
        display: block;
      }

      @media only screen and (max-width: 62.5em) {
        font-size: 1.8rem;
      }

      @media only screen and (max-width: 44.3em) {
        font-size: 2rem;
      }
      @media only screen and (max-width: 26.8em) {
        font-size: 2.2rem;
      }
    }
  }

  &__list {
    list-style: none;
    text-transform: uppercase;
    // font-size: 1.4rem;
    letter-spacing: 0.5px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }
  }

  &__link {
    &::before {
      content: "";
      position: absolute;
      // border: 1px solid black;
      height: 19px;
      width: calc(100% + 0.8rem);
      // color: black;
      background-color: transparent;
      border-radius: 100px;
      border: 1px solid #cac5bb;
      opacity: 0;
    }

    &:link,
    &:visited {
      position: relative;
      width: fit-content;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration: none;
      color: inherit;
    }

    &:hover,
    &:active {
      // color: crimson;
      // border: 1px solid black;
      // // box-shadow: 5px 5px black;

      &::before {
        opacity: 1;
        transition: all 0.2s;
      }
    }

    &--num {
      padding-left: 0.8rem;
      display: inline-block;
      font-size: 1.2rem;
      margin-right: 0.5rem;
      // align-items: center;

      @media only screen and (max-width: 44.3em) {
        font-size: 1.4rem;
      }

      @media only screen and (max-width: 26.8em) {
        font-size: 1.6rem;
      }
    }

    &--title {
      display: inline-block;

      @media only screen and (max-width: 44.3em) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: 26.8em) {
        font-size: 2rem;
      }
    }
  }

  @media only screen and (max-width: 62.5em) {
    margin-bottom: 2.7rem;
    font-size: 1.8rem;

    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(-1000px);

    transition: all 0.3s ease-in;
  }

  &--show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0px);
  }
}

.active {
  color: crimson;

  &::before {
    content: "";
    position: absolute;
    // border: 1px solid black;
    height: 19px;
    width: calc(100% + 0.8rem);
    // color: black;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid #cac5bb;
    opacity: 1;
  }
}

/**************************/
/* CONTENT SECTION */
/**************************/

.content {
  transition: all 0.3s ease-in;

  @media only screen and (max-width: 62.5em) {
    &--slide-down {
      transform: translateY(203.1px);
    }
  }

  @media only screen and (max-width: 26.8em) {
    &--slide-down {
      transform: translateY(227.1px);
    }
  }
  @media only screen and (max-width: 23.75em) {
    &--slide-down {
      transform: translateY(202.4px);
    }
  }
}

/**************************/
/* CARDS SECTION */
/**************************/
.section-cards {
  width: fit-content;
  padding: 3rem 3.2rem;

  margin: 0 auto;

  @media only screen and (max-width: 48em) {
    padding: 1.5rem 1.6rem;
  }

  @media only screen and (max-width: 26.8em) {
    padding: 1.5rem 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @media only screen and (max-width: 73.12em) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  @media only screen and (max-width: 48em) {
    gap: 2rem;
  }

  @media only screen and (max-width: 44.3em) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.card {
  width: 35rem;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(24, 24, 24);

  transition: all 0.2s;

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    // &:hover,
    // &:active {
    // }
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);

    // disables hover effects on cards on touch screen
    @media only screen and (max-width: 48em), only screen and (hover: none) {
      transform: translateY(0px);
      box-shadow: none;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);

    // disables hover effects on cards on touch screen
    @media only screen and (max-width: 48em), only screen and (hover: none) {
      transform: translateY(0px);
      box-shadow: none;
    }
  }

  &__image {
    width: 100%;
  }

  &__info {
    padding: 2rem 2rem;

    &__title {
      display: flex;
      font-size: 2.2rem;
      margin-bottom: 1.5rem;
      min-height: 5.12rem;
      align-items: center;

      @media only screen and (max-width: 44.3em) {
        font-size: 2.4rem;
      }

      @media only screen and (max-width: 23.75em) {
        font-size: 2.5rem;
      }
    }

    &__difficulty {
      display: flex;
      align-items: center;
      // padding-top: 1rem;
      // font-size: 1.6rem;
      margin-bottom: 1.5rem;
      letter-spacing: 0.8px;

      &__icon {
        height: 2.3rem;
        width: 2.3rem;

        &--html5 {
          color: #de4013;
        }

        &--css3 {
          color: #0774b9;
        }

        &--javascript {
          color: #f07f21;
        }

        @media only screen and (max-width: 23.75em) {
          height: 3rem;
          width: 3rem;
        }
      }

      &__level {
        display: flex;
        font-size: 1.4rem;
        align-items: center;
        margin-left: auto;
        border: 1px solid #cac5bb;
        border-radius: 5px;
        position: relative;
        line-height: 1.5;
        overflow: hidden;

        &--num {
          border: 1px solid #6abecd;
          background-color: #6abecd;

          font-weight: 700;
          color: white;
          padding: 0 0.75rem;
        }

        &--title {
          padding: 0 0.75rem;
          text-transform: uppercase;
          font-weight: 700;
          color: #6abecd;
        }

        @media only screen and (max-width: 23.75em) {
          font-size: 1.6rem;
        }
      }
    }

    &__description {
      display: flex;
      align-items: center;
      min-height: 7.36rem;

      @media only screen and (max-width: 23.75em) {
        font-size: 2rem;
      }
    }

    @media only screen and (max-width: 23.75em) {
      padding: 1.6rem 1.4rem;
    }
  }

  @media only screen and (max-width: 44.3em) {
    width: 40rem;
  }
  @media only screen and (max-width: 23.75em) {
    width: 38rem;
  }
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  display: flex;
  grid-column: 1/ 3;
  align-items: center;
  justify-content: center;
  align-self: end;
  font-size: 1.4rem;

  padding: 3.2rem 0 3.2rem;

  transition: all 0.3s ease-in;

  @media only screen and (max-width: 62.5em) {
    // grid-template-columns: repeat(1, 1fr);
    // column-gap: 0;

    grid-column: 1;

    &--slide-down {
      transform: translateY(203.1px);
    }
  }

  @media only screen and (max-width: 26.8em) {
    &--slide-down {
      transform: translateY(227.1px);
    }
  }
  @media only screen and (max-width: 23.75em) {
    &--slide-down {
      transform: translateY(202.4px);
    }
  }
}
