/**************************/
/* HEADER */
/**************************/
.return-link, .return-link:link, .return-link:visited {
  text-decoration: none;
}
.return-link__icon {
  font-size: 5rem;
  color: #171717;
  transition: all 0.2s;
}
.return-link__icon:hover {
  transform: translateX(-3px);
  color: #454545;
}
@media only screen and (max-width: 48em), only screen and (hover: none) {
  .return-link__icon:hover {
    transform: translateY(0px);
    color: #171717;
  }
}
.return-link__icon:active {
  color: #454545;
}

.header {
  display: flex;
  background-color: #3dbeff;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 17rem;
  padding: 0 3rem;
  justify-content: center;
}
@media only screen and (max-width: 45.9375em) {
  .header__logo {
    padding: 3.9rem 3rem;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 3rem 3rem;
  background-color: #3dbeff;
}
@media only screen and (max-width: 45.9375em) {
  .navigation {
    background-color: #fff;
    position: absolute;
    top: 13rem;
    right: 3.7rem;
    z-index: 9999;
    /* 1) Hide it visually */
    opacity: 0;
    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide it from screen readers */
    visibility: hidden;
  }
}
.navigation__triangle {
  position: absolute;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  z-index: 1;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  top: -4rem;
  right: 0rem;
}
.navigation__list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 4.4rem;
}
@media only screen and (max-width: 45.9375em) {
  .navigation__list {
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 10rem;
    font-size: 3rem;
  }
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
@media only screen and (max-width: 45.9375em) {
  .navigation__link:link, .navigation__link:visited {
    color: #7d7d85;
  }
}
.navigation__btn {
  padding: 1.5rem 2.5rem;
  background-color: white;
  color: black !important;
  font-family: "Fraunces", serif;
  font-size: 1.6rem;
  font-weight: 700 !important;
  border-radius: 50px;
}
@media only screen and (max-width: 45.9375em) {
  .navigation__btn {
    background-color: #fbd601;
  }
}
.navigation__btn:hover {
  color: #fff !important;
  background-color: #6fcfff;
  transition: all 0.3s;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 45.9375em) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
    padding: 0 3rem;
  }
  .btn-mobile-nav .navigation {
    background-color: #000;
  }
}
.btn-mobile-nav__icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #7fe2fd;
}

.mobile-nav-logo {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.nav-open .navigation {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/**************************/
/* SECTION- HERO */
/**************************/
.section-hero {
  position: relative;
  height: 90vh;
  margin: auto;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-position: bottom;
}
.section-hero__title {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Fraunces", serif;
  width: 80%;
  box-sizing: border-box;
}
@media only screen and (max-width: 30em) {
  .section-hero__title {
    top: 38%;
  }
}
.section-hero__text {
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
  padding-bottom: 8rem;
  letter-spacing: 0.8rem;
}
@media only screen and (max-width: 30em) {
  .section-hero__text {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 24.6875em) {
  .section-hero__text {
    font-size: 4rem;
  }
}

/**************************/
/* SECTION- LEARN MORE */
/**************************/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
@media only screen and (max-width: 48em) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.line {
  background-color: red;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 48em) {
  .one {
    grid-row: 2;
  }
}

.learn-more__text-box {
  display: flex;
  flex-direction: column;
  padding: 0 15.5rem;
  justify-content: center;
  height: 100%;
  background-color: #fff;
}
@media only screen and (max-width: 92em) {
  .learn-more__text-box {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 78.25em) {
  .learn-more__text-box {
    padding: 0 8rem;
  }
}
@media only screen and (max-width: 66.125em) {
  .learn-more__text-box {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 48em) {
  .learn-more__text-box {
    align-items: center;
    padding: 10rem 15.5rem;
    height: auto;
  }
}
@media only screen and (max-width: 30em) {
  .learn-more__text-box {
    padding: 10rem 5rem;
  }
}
@media only screen and (max-width: 26.5625em) {
  .learn-more__text-box {
    padding: 10rem 3rem;
  }
}
.learn-more__title {
  font-size: 4rem;
  font-weight: 900;
  font-family: "Fraunces", serif;
  margin-bottom: 3rem;
  color: #222d3d;
  max-width: 45rem;
}
@media only screen and (max-width: 66.125em) {
  .learn-more__title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 48em) {
  .learn-more__title {
    font-size: 4rem;
    text-align: center;
    max-width: 100%;
  }
}
.learn-more__text {
  margin-bottom: 3rem;
  line-height: 3rem;
  color: #7a7986;
}
@media only screen and (max-width: 48em) {
  .learn-more__text {
    text-align: center;
  }
}
.learn-more__ending__text {
  color: #05587f;
}
.learn-more__link {
  font-family: "Fraunces", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: hsl(212, 22%, 12%);
  color: #222d3d;
}
.learn-more__link {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.learn-more__link__text {
  position: relative;
  margin-left: 0.5rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: hsl(212, 22%, 12%);
  color: #222d3d;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  z-index: 1;
}
.learn-more__link__underline {
  background-color: #fbd302;
  filter: opacity(0);
  position: absolute;
  width: 100%;
  padding-right: 0.5rem;
  height: 10px;
  top: 65%;
  border-radius: 10px;
  transition: all 0.3s;
  z-index: 0;
}
@media only screen and (max-width: 48em) {
  .learn-more__link__underline {
    top: 12%;
  }
}
.learn-more__link .underline-red {
  background-color: #ff7965;
}
.learn-more__link__text:hover + .learn-more__link__underline {
  filter: opacity(95%);
}
.learn-more__ending-one {
  position: relative;
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: auto;
}
.learn-more__ending-two {
  position: relative;
  background-image: url("../images/desktop/image-photography.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: auto;
}
.learn-more__ending__text-box {
  position: absolute;
  color: #171717;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 66.125em) {
  .learn-more__ending__text-box {
    width: 80%;
  }
}
.learn-more__ending__title {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Fraunces", serif;
  margin-bottom: 3rem;
}
.learn-more__ending__text {
  line-height: 2.5rem;
}

.learn-more__img {
  width: 100%;
  height: auto;
}

.test {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

/**************************/
/* SECTION- TESTIMONIALS */
/**************************/
.section-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15rem 8rem;
  background-color: #fff;
}
@media only screen and (max-width: 66.125em) {
  .section-testimonials {
    padding: 15rem 5rem;
  }
}
@media only screen and (max-width: 57em) {
  .section-testimonials {
    padding: 15rem 2rem;
  }
}
@media only screen and (max-width: 48em) {
  .section-testimonials {
    padding: 15rem 8rem;
  }
}
@media only screen and (max-width: 30em) {
  .section-testimonials {
    padding: 15rem 2rem;
  }
}
.section-testimonials__title {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom: 10rem;
  color: #a5a19f;
}

.testimonials {
  display: flex;
}
@media only screen and (max-width: 48em) {
  .testimonials {
    flex-direction: column;
  }
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
}
@media only screen and (max-width: 66.125em) {
  .client {
    padding: 0rem 2rem;
  }
}
@media only screen and (max-width: 57em) {
  .client {
    padding: 0rem 1rem;
  }
}
@media only screen and (max-width: 48em) {
  .client {
    padding: 0 4rem;
  }
  .client:not(:last-child) {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 30em) {
  .client {
    padding: 0rem 2rem;
  }
}
.client__img {
  border-radius: 50%;
  width: 8rem;
  margin-bottom: 5rem;
}
.client__text {
  line-height: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #5a5a5d;
}
.client__name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #242c39;
}
.client__position {
  font-size: 1.4rem;
  color: #b6b4b4;
}

/**************************/
/* SECTION- GALLERY */
/**************************/
.gallery {
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 48em) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery__img {
  max-width: 100%;
  height: 100%;
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #90d4c5;
}
.footer__logo-row {
  padding: 6rem 0 5rem 0;
}
.footer__logo-img {
  height: 35px;
  filter: invert(36%) sepia(22%) saturate(1153%) hue-rotate(118deg) brightness(55%) contrast(81%);
}
.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 6rem;
  padding-bottom: 8rem;
  font-size: 1.6rem;
}
.footer__social-links-row {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  padding-bottom: 7rem;
}
.footer__social-icon {
  height: 2.5rem;
  width: 2.5rem;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #2d7464;
  transition: all 0.3s;
}
.footer__link:hover, .footer__link:active {
  color: #feffff;
}