/**************************/
/* HEADER */
/**************************/
.header {
  padding: 1.5rem 0 1.5rem 2rem;
}
.header__return-link, .header__return-link__return-link:link, .header__return-link__return-link:visited {
  text-decoration: none;
}
.header__return-link__icon {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.2s;
}
.header__return-link__icon:hover {
  transform: translateX(-3px);
  color: rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 48em), only screen and (hover: none) {
  .header__return-link__icon:hover {
    transform: translateY(0px);
    color: rgba(255, 255, 255, 0.4);
  }
}
.header__return-link__icon:active {
  color: rgba(255, 255, 255, 0.8);
}

/**************************/
/* SECTION CHALLENGE */
/**************************/
.main {
  display: grid;
  flex: 1;
}

.section-challenge {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-card {
  background-color: #14253d;
  border-radius: 1.5rem;
  height: -moz-min-content;
  height: min-content;
  width: 35rem;
}
.nft-card__image-container {
  background-image: url(./images/image-equilibrium.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  overflow: hidden;
  height: 30rem;
  width: auto;
  margin: 3rem 3rem 2rem 3rem;
}
.nft-card__image-container__gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 255, 247, 0.7), rgba(0, 255, 247, 0.7));
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.nft-card__image-container:hover .nft-card__image-container__gradient {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 48em), only screen and (hover: none) {
  .nft-card__image-container:hover .nft-card__image-container__gradient {
    opacity: 0;
    visibility: hidden;
  }
}
.nft-card__image-container:active .nft-card__image-container__gradient {
  opacity: 1;
  visibility: visible;
}
.nft-card__image-container__view {
  opacity: 0;
  visibility: hidden;
}
.nft-card__image-container:hover .nft-card__image-container__view {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 48em), only screen and (hover: none) {
  .nft-card__image-container:hover .nft-card__image-container__view {
    opacity: 0;
    visibility: hidden;
  }
}
.nft-card__image-container:active .nft-card__image-container__view {
  opacity: 1;
  visibility: visible;
}
.nft-card__info {
  padding: 0 3rem 0 3rem;
}
.nft-card__info__title {
  padding: 0;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.nft-card__info__title:hover {
  color: #00fff7;
}
@media only screen and (max-width: 48em), only screen and (hover: none) {
  .nft-card__info__title:hover {
    color: #fff;
  }
}
.nft-card__info__title:hover:active {
  color: #00fff7;
}
.nft-card__info__description {
  padding-top: 2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}
.nft-card__info__purchase {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1.5rem 0;
  border-bottom: 0.5px solid #2f415b;
}
.nft-card__info__purchase__left-container {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
}
.nft-card__info__purchase__left-container__price {
  color: #00fff7;
}
.nft-card__info__purchase__right-container {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1.4rem;
}
.nft-card__info__author {
  display: flex;
  align-items: center;
  padding: 1.5rem 0 2rem 0;
}
.nft-card__info__author__image {
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
}
.nft-card__info__author__name {
  font-size: 1.6rem;
  padding-left: 2rem;
}
.nft-card__info__author__name__change {
  text-decoration: none;
  color: #fff;
}
.nft-card__info__author__name__change:hover {
  color: #00fff7;
}
@media only screen and (max-width: 48em), only screen and (hover: none) {
  .nft-card__info__author__name__change:hover {
    color: #fff;
  }
}
.nft-card__info__author__name__change:hover:active {
  color: #00fff7;
}

.svg-icon {
  padding-right: 1rem;
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding: 3rem 0 3rem;
}