/**************************/
/* HEADER */
/**************************/
.header {
  padding: 1.5rem 0 1.5rem 2rem;
}
.header__return-link, .header__return-link__return-link:link, .header__return-link__return-link:visited {
  text-decoration: none;
}
.header__return-link__icon {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.2s;
}
.header__return-link__icon:hover {
  transform: translateX(-3px);
  color: rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 48em), only screen and (hover: none) {
  .header__return-link__icon:hover {
    transform: translateY(0px);
    color: rgba(255, 255, 255, 0.4);
  }
}
.header__return-link__icon:active {
  color: rgba(255, 255, 255, 0.8);
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding: 3rem 0 3rem;
}