@import "./02_variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: purple;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: $body-font-size;
}
