// COLORS

// skills

$color-reaction-light-red: hsl(0, 100%, 67%);
$color-memory-orangey-yellow: hsl(39, 100%, 56%);
$color-verbal-green-teal: hsl(166, 100%, 37%);
$color-visual-cobalt-blue: hsl(234, 85%, 45%);

// gradients

// card
// $color-gradient-card-light-slate-blue: hsl(252, 100%, 67%);
$color-gradient-card-light-slate-blue: hsl(252, 100%, 67%);
$color-gradient-card-light-royal-blue: hsl(241, 81%, 54%);

// circle in teh card
$color-gradient-circle-violet-blue: hsla(256, 72%, 46%, 1);
$color-gradient-circle-persian-blue: hsla(241, 72%, 46%, 0);

// else

$color-white: hsl(0, 0%, 100%);
$color-pale-blue: hsl(221, 100%, 96%);
$color-light-lavender: hsl(241, 100%, 89%);
$color-gray-blue: hsl(224, 30%, 27%);

// FONT

$default-font-size: 1.6rem;
$body-font-size: 1.8rem;
