/**************************/
/* HEADER */
/**************************/

.return-link {
  // padding: 1.5rem 0 1.5rem 2rem;
  &,
  &:link,
  &:visited {
    text-decoration: none;
  }

  &__icon {
    font-size: 5rem;
    color: #171717;
    transition: all 0.2s;

    &:hover {
      transform: translateX(-3px);
      color: #454545;

      // disables hover effects on touch screen
      @media only screen and (max-width: 48em), only screen and (hover: none) {
        transform: translateY(0px);
        color: #171717;
      }
    }

    &:active {
      color: #454545;
    }
  }
}

.header {
  display: flex;
  background-color: #3dbeff;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  // gap: 10rem;

  &__logo {
    display: flex;
    align-items: center;
    width: 17rem;
    padding: 0 3rem;
    justify-content: center;

    @media only screen and (max-width: 45.9375em) {
      padding: 3.9rem 3rem;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 3rem 3rem;
  background-color: #3dbeff;

  @media only screen and (max-width: 45.9375em) {
    background-color: #fff;
    position: absolute;
    top: 13rem;
    right: 3.7rem;
    z-index: 9999;
    padding: 0;

    width: 83%;
    // margin: auto;
    // height: 70rem;
    transform: translateX(0%);
    z-index: 9999;
    display: flex;
    // align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* 1) Hide it visually */
    opacity: 0;
    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  &__triangle {
    position: absolute;
    height: 4rem;
    width: 4rem;
    background-color: #fff;
    // background-color: #000;
    z-index: 1;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    top: -4rem;
    right: 0rem;
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4.4rem;
    // height: 30rem;
    // margin: auto;
    height: auto;

    @media only screen and (max-width: 45.9375em) {
      flex-direction: column;
      gap: 4rem;
      // min-width: 100%;
      // padding: 2rem 10rem;
      padding: 8rem 10rem;
      font-size: 3rem;

      // height: 30rem;
      // margin: auto;
    }

    @media only screen and (max-width: 26.5625em) {
      // padding: 2rem 6.7rem;
    }

    @media only screen and (max-width: 20.0625em) {
      // padding: 2rem 1rem;
    }
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    // font-size: 2rem;
    // transition: all 0.3s;

    @media only screen and (max-width: 45.9375em) {
      color: #7d7d85;
    }
  }

  &__btn {
    padding: 1.5rem 2.5rem;
    background-color: white;
    color: black !important;
    font-family: "Fraunces", serif;
    font-size: 1.6rem;
    font-weight: 700 !important;
    border-radius: 50px;

    @media only screen and (max-width: 45.9375em) {
      background-color: #fbd601;
      // color: #7d7d85;
      font-size: 2rem;
      padding: 2rem 3rem;
    }

    &:hover {
      color: #fff !important;
      background-color: #6fcfff;
      transition: all 0.3s;
    }
  }
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;

  @media only screen and (max-width: 45.9375em) {
    // grid-template-columns: 1fr;
    display: block;
    z-index: 9999;
    padding: 0 3rem;

    .navigation {
      background-color: #000;
    }
  }

  &__icon {
    height: 4.8rem;
    width: 4.8rem;
    color: #7fe2fd;
  }
}

.mobile-nav-logo {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.nav-open .navigation {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

// .icon-mobile-nav[name="close-outline"] {
//   display: none;
// }

/**************************/
/* SECTION- HERO */
/**************************/

.section-hero {
  position: relative;
  // height: 90vh;
  height: 70rem;
  // margin: auto;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-position: bottom;

  &__title {
    // position: absolute;
    // top: 28%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // color: white;
    text-align: center;
    font-family: "Fraunces", serif;
    width: auto;
    // box-sizing: border-box;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // padding: 4rem;
    padding-top: 8rem;
    // min-height: 100%;

    @media only screen and (max-width: 30em) {
      // top: 38%;
      // padding: 4rem 2rem;
      // padding-top: 10rem;
    }

    @media only screen and (max-width: 24.6875em) {
      // background-position: center;
      height: 60rem;
      padding-top: 8rem;
    }
  }

  &__text {
    font-size: 5rem;
    font-weight: 900;
    color: #fff;
    padding-bottom: 8rem;
    letter-spacing: 0.8rem;
    // width: 40%;
    // display: flex;

    @media only screen and (max-width: 30em) {
      font-size: 4.5rem;
    }

    @media only screen and (max-width: 24.6875em) {
      font-size: 4.5rem;
      // padding: 0 2rem;
      // padding-top: 10rem;
      // background-color: #000;
    }

    @media only screen and (max-width: 22em) {
      font-size: 3.5rem;
      // padding: 0 2rem;
      // padding-top: 10rem;
      // background-color: #000;
    }
  }

  &__icon {
    width: 4.5rem;

    @media only screen and (max-width: 22em) {
      width: 3.5rem;
    }

    // margin: auto;
    // margin-top: 15rem;
    // position: absolute;
    // top: 53%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // text-align: center;
  }

  // &__background {
  //   // width: 100%;
  //   // height: 100%;
  //   // width: 100%;
  //   // height: auto;
  //   // display: block;
  //   // object-fit: cover; /* Use 'contain' if you don't want to crop the image */
  //   // position: absolute;
  //   // top: 0;
  //   // left: 0;
  // }
}

/**************************/
/* SECTION- LEARN MORE */
/**************************/

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  // column-gap: 6.4rem;

  @media only screen and (max-width: 48em) {
    grid-template-columns: 1fr;
  }
}

.line {
  background-color: red;
  width: 100%;
  height: 100%;
}

.one {
  @media only screen and (max-width: 48em) {
    grid-row: 2;
  }
}

.learn-more {
  &__text-box {
    display: flex;
    flex-direction: column;
    // padding: 15.5rem;
    padding: 0 15.5rem;
    // align-items: center;
    justify-content: center;
    height: 100%;
    // padding: auto 15.5rem;

    background-color: #fff;

    @media only screen and (max-width: 92em) {
      padding: 0 10rem;
    }
    @media only screen and (max-width: 78.25em) {
      padding: 0 8rem;
    }
    @media only screen and (max-width: 66.125em) {
      padding: 0 5rem;
    }

    @media only screen and (max-width: 48.5em) {
    }

    @media only screen and (max-width: 48em) {
      align-items: center;
      padding: 10rem 15.5rem;
      // padding: 10rem 18rem;
      // height: 100%;
      // padding-top: 5rem;
      // padding-bottom: 5rem;
      // align-items: center;
      height: auto;
    }

    @media only screen and (max-width: 30em) {
      padding: 10rem 5rem;
    }

    @media only screen and (max-width: 26.5625em) {
      padding: 10rem 3rem;
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: 900;
    font-family: "Fraunces", serif;
    margin-bottom: 3rem;
    color: #222d3d;
    max-width: 45rem;

    @media only screen and (max-width: 66.125em) {
      font-size: 3rem;
    }

    @media only screen and (max-width: 48em) {
      font-size: 4rem;
      text-align: center;
      // max-width: 42rem;
      max-width: 100%;
      // height: 33%;
    }
    // @media only screen and (max-width: 48em) {
    //   // padding-top: 10rem;
    //   max-width: 100%;
    //   // padding: 10rem 16rem 0 16rem;
    // }
  }

  &__text {
    margin-bottom: 3rem;
    line-height: 3rem;
    // color: hsl(212, 27%, 19%);
    color: #7a7986;

    @media only screen and (max-width: 48em) {
      text-align: center;
      // height: 33%;
      // margin-bottom: 0rem;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  &__ending__text {
    color: #05587f;
  }

  &__link {
    font-family: "Fraunces", serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: hsl(212, 22%, 12%);
    color: #222d3d;
    // text-decoration: line-through purple 3px;
  }

  &__link {
    position: relative;
    width: fit-content;
    @media only screen and (max-width: 48em) {
      // padding-bottom: 10rem;
    }

    // margin-bottom: 10rem;

    &__text {
      position: relative;
      margin-left: 0.5rem;

      font-family: "Fraunces", serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: hsl(212, 22%, 12%);
      color: #222d3d;
      width: fit-content;
      text-decoration: none;
      // background-color: green;
      z-index: 1;

      // text-decoration: line-through purple 3px;
    }

    &__underline {
      background-color: #fbd302;
      filter: opacity(0);
      position: absolute;
      width: 100%;
      padding-right: 0.5rem;
      // margin-right: 0.1rem;
      height: 10px;
      top: 65%;
      // height: 5px;
      // bottom: 50%;
      // left: -0.1%;
      border-radius: 10px;
      // display: none;
      transition: all 0.3s;
      z-index: 0;

      @media only screen and (max-width: 48em) {
        top: 12%;
      }
    }
    .underline-red {
      background-color: #ff7965;
    }

    &__text:hover + &__underline {
      // display: block;
      filter: opacity(95%);

      // transition: all 0.3s;
    }
  }

  &__ending-one {
    position: relative;
    // height: 90vh;
    // margin: auto;
    background-image: url("../images/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-position: center;
    // background-position: bottom;
    // min-height: 100%;
    height: 600px;
    width: auto;

    // @media only screen and (max-width: 30em) {
    //   width: 90%;
    // }
  }

  &__ending-two {
    position: relative;
    // height: 90vh;
    // margin: auto;
    background-image: url("../images/desktop/image-photography.jpg");
    background-size: cover;
    background-position: center;
    // background-position: bottom;
    // min-height: 100%;
    height: 600px;
    width: auto;
    // @media only screen and (max-width: 30em) {
    //   width: 90%;
    // }
  }

  &__ending__text-box {
    position: absolute;
    color: #171717;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media only screen and (max-width: 66.125em) {
      // padding: 0 5rem;
      width: 80%;
      // mask-origin: 0 15rem;
    }
  }

  &__ending__title {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: "Fraunces", serif;
    margin-bottom: 3rem;
  }

  &__ending__text {
    // margin-bottom: 3rem;
    line-height: 2.5rem;
  }

  // &__ending__img {
  //   position: absolute;
  // }
  // &__ending__text-box {
  //   position: relative;
  // }
}
// .testing {
//   text-decoration: none;
//   color: inherit;
//   border-bottom: -10px solid purple;
//   // box-shadow: -10px black;
//   // box-shadow: inset 0rem -1rem gold;
//   background-color: black;
//   width: fit-content;
//   height: 0.6rem;
//   border-radius: 5px;
//   // padding-bottom: 5rem;
//   // flex-direction: column;
// }

.learn-more__img {
  // width: 79.5rem;
  // height: fit-content;
  // object-fit: cover;
  // height: 600px;
  // width: auto;
  // position: relative;
  // overflow: hidden;
  // width: 100%;
  // height: auto;
  // object-fit: cover;
  // display: block;
  width: 100%;
  height: auto;
  // object-fit: cover;
  // display: block;
  // @media only screen and (max-width: 30em) {
  //   width: 90%;
  // }
}

.test {
  // width: 80.1rem;
  // height: 80rem;
  // height: auto;
  // max-height: 100%;
  // width: 100%;
  // max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/**************************/
/* SECTION- TESTIMONIALS */
/**************************/

.section-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15rem 8rem;
  background-color: #fff;

  @media only screen and (max-width: 66.125em) {
    padding: 15rem 5rem;
  }
  @media only screen and (max-width: 57em) {
    padding: 15rem 2rem;
  }

  @media only screen and (max-width: 48em) {
    padding: 15rem 8rem;
  }

  @media only screen and (max-width: 30em) {
    padding: 10rem 2rem;
  }

  &__title {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin-bottom: 10rem;
    color: #a5a19f;
    text-align: center;

    @media only screen and (max-width: 20.0625em) {
      font-size: 1.7rem;
    }
  }
}

.testimonials {
  display: flex;
  // flex-direction: row;
  @media only screen and (max-width: 48em) {
    flex-direction: column;
  }
}

.client {
  display: flex;
  flex-direction: column;
  // padding: 5rem;
  align-items: center;
  // justify-content: center;
  // text-align: center;
  padding: 0 4rem;

  @media only screen and (max-width: 66.125em) {
    padding: 0rem 2rem;
  }
  @media only screen and (max-width: 57em) {
    padding: 0rem 1rem;
  }

  @media only screen and (max-width: 48em) {
    padding: 0 4rem;
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  @media only screen and (max-width: 30em) {
    padding: 0rem 2rem;
  }
  &__img {
    border-radius: 50%;
    width: 8rem;
    // height: 6rem;
    margin-bottom: 5rem;
  }

  &__text {
    line-height: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    // font-size: 1.6rem;
    color: #5a5a5d;
  }

  &__name {
    font-family: "Fraunces", serif;
    font-weight: 900;
    margin-bottom: 1rem;
    color: #242c39;
  }

  &__position {
    font-size: 1.4rem;
    // font-weight: 300;
    // text-decoration: none;
    color: #b6b4b4;
  }
}

/**************************/
/* SECTION- GALLERY */
/**************************/

.section-gallery {
  // max-width: 100%;
}

.gallery {
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media only screen and (max-width: 48em) {
    grid-template-columns: repeat(2, 1fr);
  }

  // max-width: 100%;
  &__img {
    // width: auto;
    max-width: 100%;
    min-height: 100%;
    // width: fit-content;
  }
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  // padding: 3rem 0 3rem;
  // color: #171717;
  background-color: #90d4c5;

  &__logo-row {
    // color: red;
    padding: 6rem 0 5rem 0;
  }

  &__logo {
    // font-family: "Fraunces", serif;

    // text-decoration: none;
    // color: #fff;
    // font-size: 4rem;
    // font-weight: 700;
    // color: red;
    // background-color: red;
  }

  &__logo-img {
    height: 35px;
    filter: invert(36%) sepia(22%) saturate(1153%) hue-rotate(118deg)
      brightness(55%) contrast(81%);
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding-bottom: 8rem;
    font-size: 1.6rem;
    // font-weight: 100;
  }

  &__social-links-row {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    padding-bottom: 7rem;
  }

  &__social-icon {
    height: 2.5rem;
    width: 2.5rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #2d7464;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: #feffff;
  }
}
