@import "./01_variables";
@import "./01_mixins";

/**************************/
/* HEADER */
/**************************/

.header {
  padding: 1.5rem 0 1.5rem 2rem;

  &__return-link {
    &,
    &__return-link:link,
    &__return-link:visited {
      text-decoration: none;
    }

    &__icon {
      font-size: 5rem;
      color: rgba(255, 255, 255, 0.4);
      transition: all 0.2s;

      &:hover {
        transform: translateX(-3px);
        color: rgba(255, 255, 255, 0.8);

        // disables hover effects on touch screen
        @media only screen and (max-width: 48em),
          only screen and (hover: none) {
          transform: translateY(0px);
          color: rgba(255, 255, 255, 0.4);
        }
      }

      &:active {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

/**************************/
/* SECTION CHALLENGE */
/**************************/

.main {
  display: grid;
  flex: 1;
}

.section-challenge {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-card {
  background-color: $color-cardBG-very-dark-blue;
  border-radius: 1.5rem;
  height: min-content;
  width: 35rem;

  &__image-container {
    background-image: url(../images/image-equilibrium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
    height: 30rem;
    width: auto;
    margin: 3rem 3rem 2rem 3rem;

    &__gradient {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        rgba($color-hover-cyan, 0.7),
        rgba($color-hover-cyan, 0.7)
      );
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }

    &:hover &__gradient {
      opacity: 1;
      visibility: visible;

      // disables hover effects on touch screen and enable them for click
      @media only screen and (max-width: 48em), only screen and (hover: none) {
        opacity: 0;
        visibility: hidden;
      }
    }
    // and enable them for click
    &:active &__gradient {
      opacity: 1;
      visibility: visible;
    }

    &__view {
      opacity: 0;
      visibility: hidden;
    }

    &:hover &__view {
      opacity: 1;
      visibility: visible;

      // disables hover effects on touch screen
      @media only screen and (max-width: 48em), only screen and (hover: none) {
        opacity: 0;
        visibility: hidden;
      }
    }
    // and enable them for click
    &:active &__view {
      opacity: 1;
      visibility: visible;
    }
  }

  &__info {
    padding: 0 3rem 0 3rem;

    &__title {
      padding: 0;
      margin: 0;
      font-weight: 600;
      text-decoration: none;
      color: $color-white;

      &:hover {
        color: $color-hover-cyan;

        // disables hover effects on touch screen
        @media only screen and (max-width: 48em),
          only screen and (hover: none) {
          color: $color-white;
        }

        // and enable them for click
        &:active {
          color: $color-hover-cyan;
        }
      }
    }

    &__description {
      padding-top: 2rem;
      font-weight: 400;
      font-size: $default-font-size;
      line-height: 1.5;
    }

    &__purchase {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0 1.5rem 0;
      border-bottom: 0.5px solid $color-line-Very-dark-blue;

      &__left-container {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.4rem;

        &__price {
          color: $color-hover-cyan;
        }
      }

      &__right-container {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 1.4rem;
      }
    }

    &__author {
      display: flex;
      align-items: center;
      padding: 1.5rem 0 2rem 0;

      &__image {
        width: 2.5rem;
        border-radius: 50%;
        border: 1px solid $color-white;
      }

      &__name {
        font-size: $default-font-size;
        padding-left: 2rem;

        &__change {
          text-decoration: none;
          color: $color-white;

          &:hover {
            color: $color-hover-cyan;

            // disables hover effects on touch screen
            @media only screen and (max-width: 48em),
              only screen and (hover: none) {
              color: $color-white;
            }

            // and enable them for click
            &:active {
              color: $color-hover-cyan;
            }
          }
        }
      }
    }
  }
}

.svg-icon {
  padding-right: 1rem;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding: 3rem 0 3rem;
}
