// COLORS

$color-txt-soft-blue: #8bacda;
$color-hover-cyan: #00fff7;

$color-mainBG-very-dark-blue: #0d192b;
$color-cardBG-very-dark-blue: #14253d;
$color-line-Very-dark-blue: #2f415b;

$color-white: #fff;

// FONT

$default-font-size: 1.6rem;
$body-font-size: 1.8rem;
