<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>All</h1>
    <section class="section-cards">
      <div class="cards">
        <div class="card">
          <a href="#" class="card__link">
            <img src="/img/test.jpg" alt="C" class="card__image" />

            <div class="card__info">
              <h2 class="card__info__title">
                Coding bootcamp testimonials slider
              </h2>
              <div class="card__info__difficulty">
                <ion-icon
                  name="logo-html5"
                  class="card__info__difficulty__icon card__info__difficulty__icon--html5"
                ></ion-icon>
                <ion-icon
                  name="logo-css3"
                  class="card__info__difficulty__icon card__info__difficulty__icon--css3"
                ></ion-icon>
                <ion-icon
                  name="logo-javascript"
                  class="card__info__difficulty__icon card__info__difficulty__icon--javascript"
                ></ion-icon>
                <p
                  class="card__info__difficulty__level card__info__difficulty__level--newbie"
                >
                  <span
                    class="card__info__difficulty__level--num card__info__difficulty__level--num--newbie"
                  >
                    01
                  </span>
                  <span
                    class="card__info__difficulty__level--title card__info__difficulty__level--title--newbie"
                  >
                    newbie
                  </span>
                </p>
              </div>
              <p class="card__info__description">
                This challenge will be a nice test if you're new to JavaScript.
                It's also a great opportunity to play around with content
                animations and transitions.
              </p>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="#" class="card__link">
            <img src="/img/test.jpg" alt="C" class="card__image" />

            <div class="card__info">
              <h2 class="card__info__title">Bookmark landing page</h2>
              <div class="card__info__difficulty">
                <ion-icon
                  name="logo-html5"
                  class="card__info__difficulty__icon card__info__difficulty__icon--html5"
                ></ion-icon>
                <ion-icon
                  name="logo-css3"
                  class="card__info__difficulty__icon card__info__difficulty__icon--css3"
                ></ion-icon>
                <ion-icon
                  name="logo-javascript"
                  class="card__info__difficulty__icon card__info__difficulty__icon--javascript"
                ></ion-icon>
                <p
                  class="card__info__difficulty__level card__info__difficulty__level--newbie"
                >
                  <span
                    class="card__info__difficulty__level--num card__info__difficulty__level--num--newbie"
                  >
                    01
                  </span>
                  <span
                    class="card__info__difficulty__level--title card__info__difficulty__level--title--newbie"
                  >
                    newbie
                  </span>
                </p>
              </div>
              <p class="card__info__description">
                This challenge will really test your layout skills. There are
                also areas that will require some JavaScript
              </p>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="#" class="card__link">
            <img src="/img/test.jpg" alt="C" class="card__image" />

            <div class="card__info">
              <h2 class="card__info__title">
                Coding bootcamp testimonials slider
              </h2>
              <div class="card__info__difficulty">
                <ion-icon
                  name="logo-html5"
                  class="card__info__difficulty__icon card__info__difficulty__icon--html5"
                ></ion-icon>
                <ion-icon
                  name="logo-css3"
                  class="card__info__difficulty__icon card__info__difficulty__icon--css3"
                ></ion-icon>
                <ion-icon
                  name="logo-javascript"
                  class="card__info__difficulty__icon card__info__difficulty__icon--javascript"
                ></ion-icon>
                <p
                  class="card__info__difficulty__level card__info__difficulty__level--junior"
                >
                  <span
                    class="card__info__difficulty__level--num card__info__difficulty__level--num--junior"
                  >
                    2
                  </span>
                  <span
                    class="card__info__difficulty__level--title card__info__difficulty__level--title--junior"
                  >
                    junior
                  </span>
                </p>
              </div>
              <p class="card__info__description">
                This challenge will be a nice test if you're new to JavaScript.
                It's also a great opportunity to play around with content
                animations and transitions.
              </p>
            </div>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
